<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd" name="Student Map" version="1.0.0" description="Add a link to map your currently selected students.">
  <publisher name="Steven Riehl">
    <contact email="riehls@billingsschools.org"/>
  </publisher>
</plugin>